body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    color: #e6e6e6; /* Light gray text color */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1a1a1a; /* Dark background color */
}

/* Header styles */
header {
    background-color: #2d2d2d; /* Dark header background */
    color: #e6e6e6; /* Light text color */
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    color: #e6e6e6; /* Light text color */
    text-decoration: none;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}



/* Form styles */
form {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid #4d4d4d; /* Dark border color */
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a; /* Dark background color */
    color: #e6e6e6; /* Light text color */
}

button {
    background-color: #4d4d4d; /* Dark button background */
    color: #e6e6e6; /* Light text color */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #6d6d6d; /* Darker hover background */
}

