/* General Styles */
body,pre  {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a, a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f5f5f5;
}

.hero-content {
    flex: 1;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Integrations Section Styles */
.integrations {
    text-align: center;
    padding: 40px;
    background-color: #e0e0e0;
}

/* Services Section Styles */
.services {
    padding: 40px;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Button Styles */
.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
}
.post-list {
    margin-top: 30px;
}

.post-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-item h3 {
    margin-top: 0;
}

.delete-form {
    display: inline;
}

.delete-btn {
    background-color: #ff4136;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.flash-messages {
    list-style-type: none;
    padding: 0;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash-success {
    background-color: #4caf50;
    color: white;
}
nav ul li a ,nav a{


    font-weight: bold;  
  }
  .search-container {
    margin: 20px;
    text-align: center;
}
.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}
.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}