
<!DOCTYPE html>
<html>
<head>
    <title>  Personalized Portfolio management and Stock Screener </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .hero-image {
    position: relative;
        }

        .image-container {
            position: relative;
        }

        .image-container:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to right, rgba(255, 149, 102, 0.8), rgba(255, 94, 98, 0.8));
            z-index: 1;
        }

        .image-container img {
            display: block;
            max-width: 100%;
            height: auto;
            position: relative;
            z-index: 2;
        }

</style>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}" class="logo">InvestorEdge</a>
            <ul>
                <li><a href="{{ url_for('screener') }}">Screen screener</a></li>
                <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
            
                <li> <a href="{{ url_for('visualization') }}">Visualization</a></li>
                <li> <a href="{{ url_for('blog') }}">Blog</a></li>
                <li>    <a href="{{ url_for('logout') }}"> {{ user }} Logout</a></li>
    
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>AI Bases Personalized Portfolio</h1>
                <p>Get personalized portfolio recommendations, For Longterm investment </p>
                <div class="cta-buttons">
                    <a href="{{ url_for('portfolio') }}" class="btn"> Make your Portfolio </a>
                </div>
            </div>
            <div class="hero-image">
                <img src="{{ url_for('static', filename='img.png') }}" alt="portfolio">
            </div>
        </section>

        <section class="integrations">
       
            <h2>Technical Indicator based Stock Screener</h2>
            <p>Navigating the Market with Precision: The Ultimate Technical Indicator Stock Screener</p>
            <br>
            <a href="{{ url_for('screener') }}" class="btn">Select Stock</a>
        </section>

        <section class="services">
            <h2>Feature</h2>
            <div class="service-cards">
                <div class="card">
                    <img src="{{ url_for('static', filename='images.png') }}" alt="Stock Screener Icon">
                    <h3>Real-time Stock Screener</h3>
                    <p>Explore our powerful stock screening tool for real-time analysis and filtering.</p>
                </div>
                
                <div class="card">
                    <img src="{{ url_for('static', filename='pie-chart.png') }}" alt="Portfolio Recommendation Icon">
                    <h3>Personalized Portfolio Recommendations</h3>
                    <p>Get tailored portfolio recommendations based on your risk profile and investment goals.</p>
                </div>
                
                <div class="card">
                    <img src="{{ url_for('static', filename='data-visualization.png') }}"  alt="Data Visualization Icon">
                    <h3>Market Data Visualizations</h3>
                    <p>Visualize market data with interactive charts and graphs for better insights.</p>
                </div>
                
                <div class="card">
                    <img src="{{ url_for('static', filename='chart-bars.png') }}"  alt="Analysis Icon">
                    <h3>Intraday and Historical Analysis</h3>
                    <p>Perform in-depth analysis of intraday and historical stock data.</p>
                </div>
                
                <div class="card">
                    <img src="{{ url_for('static', filename='blog.png') }}"  alt="Blog Icon">
                    <h3>Educational Blog and Resources</h3>
                    <p>Access our educational blog and resources to enhance your trading knowledge.</p>
                </div>
                
                <div class="card">
                    <img src="{{ url_for('static', filename='auth.png') }}" alt="Authentication Icon">
                    <h3>User Authentication and Portfolio Management</h3>
                    <p>Securely manage your portfolio with our user authentication and management system.</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 InvestorEdge. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>