<!DOCTYPE html>
<html>
<head>
    
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5DHSN7G1JT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-5DHSN7G1JT');
    </script>
    <title>  Personalized Portfolio management and Stock Screener </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <style>
        .services {
  padding: 2rem;
  text-align: center;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  background-color: #eeeeee;
  padding: 1rem;
  border-radius: 4px;
}
        .card img {
  width:50%; /* Set a fixed width for all images */
  
}
.hero-image img{
    width: 80%;
}
p{
    font-size: small;
}
h3{
    font-size: medium;
}
h1{
    font-size: xx-large;
}
 
    </style>


</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}" class="logo">InvestorEdge</a>
            <ul>
                <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
                <li><a href="{{ url_for('compound_interest') }}">CI Calculator</a></li>
                <li><a href="{{ url_for('screener') }}">Stock Screener</a></li>
            
                <li> <a href="{{ url_for('visualization') }}">Visualization</a></li>
                <li> <a href="{{ url_for('blog') }}">Blog</a></li>
                <li>    <a href="{{ url_for('logout') }}">  Logout</a></li>
    
            </ul>
        </nav>
    </header>
    <script src="//code.tidio.co/cl1mqltblbcnlrgxojno78n082y0a9me.js" async></script>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>AI Bases Personalized Portfolio</h1>
                <p>Get personalized portfolio recommendations, For Longterm investment </p>
                <div class="cta-buttons">
                    <a href="{{ url_for('portfolio') }}" class="btn"> Make your Portfolio </a>
                </div>
            </div>
            <div class="hero-image">
                <img src="{{ url_for('static', filename='img.png') }}" alt="portfolio">
            </div>
        </section>
        
        <section class="integrations">
            
            <h2>Technical Indicator based Stock Screener</h2>
            <p>Navigating the Market with Precision: The Ultimate Technical Indicator Stock Screener</p>
            <br>
            <a href="{{ url_for('screener') }}" class="btn">Select Stock</a>
        </section>
        
        <section class="services">
            <h2>Feature</h2>
            <div class="service-cards">
                <div class="card">
                    <img src="{{ url_for('static', filename='auth.png') }}" alt="Authentication Icon">
                    <h3>User Authentication </h3>
                    <p>Securely manage your portfolio with our user authentication and management system.</p>
                </div>
                <div class="card">
                    <img src="{{ url_for('static', filename='pie-chart.png') }}" alt="Portfolio Recommendation Icon">
                    <h3>Personalized Portfolio Recommendations</h3>
                    <p>Get tailored portfolio recommendations based on your risk profile and investment goals.</p>
                </div>
                
                <div class="card">
                    <img src="{{ url_for('static', filename='images.png') }}" alt="Stock Screener Icon">
                    <h3>Real-time Stock Screener</h3>
                    <p>Explore our powerful stock screening tool for real-time analysis and filtering.</p>
                </div>
                
                <div class="card">
                    <img src="{{ url_for('static', filename='data-visualization.png') }}"  alt="Data Visualization Icon">
                    <h3>Market Data Visualizations</h3>
                    <p>Visualize market data with interactive charts and graphs for better insights.</p>
                </div>
                
                <div class="card">
                    <img src="{{ url_for('static', filename='chart-bars.png') }}"  alt="Analysis Icon">
                    <h3>Historical Analysis</h3>
                    <p>Perform in-depth analysis of historical stock data.</p>
                </div>
                
                <div class="card">
                    <img src="{{ url_for('static', filename='blog.png') }}"  alt="Blog Icon">
                    <h3>Educational Blog and Resources</h3>
                    <p>Access our educational blog and resources to enhance your trading knowledge.</p>
                </div>
                
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 InvestorEdge. All rights reserved.</p>
    </footer>

</body>
</html>