<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5DHSN7G1JT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5DHSN7G1JT');
</script>

    <title>Portfolio Allocation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <style>
      /* General Styles */
body {
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


a:hover{
  color: #fff;
}
.ci{
  display: inline;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
    </style>

  </head>

  <body>
    <header>
      <nav>
          <a href="{{ url_for('index') }}" class="logo">InvestorEdge</a>
          <ul>
            <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
            <li><a href="{{ url_for('compound_interest') }}">CI Calculator</a></li>
              <li><a href="{{ url_for('screener') }}">Screen screener</a></li>
          
              <li> <a href="{{ url_for('visualization') }}">Visualization</a></li>
              <li> <a href="{{ url_for('blog') }}">Blog</a></li>
              <li>    <a href="{{ url_for('logout') }}"> {{ user }} Logout</a></li>
  
          </ul>
      </nav>
  </header>
    <div class="container">

      <h1>AI Bases Personalized Portfolio</h1>
      <p>Get personalized portfolio recommendations, For Longterm investment </p>
      <form method="post" action="{{ url_for('portfolio') }}">
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" class="form-control" id="age" name="age" required>
        </div>
        <div class="form-group">
          <label for="investor_type">Investor Type:</label>
          <select class="form-control" id="investor_type" name="investor_type" required>
            <option value="">Select Investor Type</option>
            <option value="Aggressive Investor ">Aggressive Investor</option>
            <option value="Moderate Investor ">Moderate Investor</option>
            <option value="Conservative Investor ">Conservative Investor</option>
          </select>
        </div>
        <center>
        <button type="submit" class="btn" >Get Allocation</button>
        </center>
     
      </form>
  

      {% if allocation %}
      <h2>Allocation Results:</h2>

      <div>
        <canvas id="allocationChart"></canvas>
      </div>
      <script>
        var allocationData = {{ allocation|tojson }};
        var labels = Object.keys(allocationData);
        var values = Object.values(allocationData);

        var ctx = document.getElementById('allocationChart').getContext('2d');
        var chart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: labels,
            datasets: [{
              data: values,
              backgroundColor: [
                '#FF6384',
                '#36A2EB',
                '#FFCE56',
                '#8BC34A',
                '#9C27B0',
                '#673AB7',
                '#4CAF50'
              ]
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false
          }
        });
      </script>
      {% if cagr %}
      <h3>CAGR: {{ cagr * 100 }}%</h3>
      {% endif %}
      {% endif %}
      <br>
 
       
    </div>
  </body>
</html>